<section class="Header">
  <div class="TitleAndButtons drop-shadow">
    <div class="buttons">
      <i class="fa fa-times closeButton" aria-hidden="true"></i>
    </div>
    <div class="title">
      <span>SCIENCE AND NATURE</span>
    </div>
  </div>
</section>

<div class="Board">
  <div class="scoreBoard">
    <span><span class="bold">Score:</span> 100</span>
  </div>
  <div class="timeBoard">
    <span><span class="bold">Time:</span> 02:24</span>
  </div>

  <section class="Question">
    <div class="questionBody">
      The website &quot;Shut Up &amp; Sit Down&quot; reviews which form of
      media?
    </div>
  </section>

  <section class="Answers">
    <button type="button" class="btn btn-primary answer">Board Games</button>
    <button type="button" class="btn btn-success answer">
      Television Shows
    </button>
    <button type="button" class="btn btn-primary answer">Video Games</button>
    <button type="button" class="btn btn-secondary answer">Films</button>
  </section>

  <section class="Footer">
    <div class="ProgressBar">
      <div class="correctAnswer"></div>
      <div class="correctAnswer"></div>
      <div class="wrongAnswer"></div>
      <div class="correctAnswer"></div>
      <div class="correctAnswer"></div>
      <div class="correctAnswer"></div>
      <div class="wrongAnswer"></div>
      <div class="currentQuestion"></div>
      <div class="empty"></div>
      <div class="empty"></div>
      <div class="empty"></div>
    </div>
    <div class="QuiestionTraker">
      <span>4 of 10</span>
    </div>
  </section>
</div>
